[run]
branch = True
source =
    ./

omit = 
    */__init__.py,
    */test/*,
    */tests/*,
    */tests.py,
    */settings.py,
    */wsgi.py,
    */manage.py

[report]
omit = 
    */__init__.py,
    */test/*,
    */tests/*,
    */tests.py,
    */settings.py,
    */wsgi.py,
    */manage.py




[html]
directory = coverage_html_report
